.is-error{
    box-shadow: 0 0 7px #cc0000;
    border: 1px solid red;
}
.header{
    background-color: grey;
    margin:10px
}
.cell{
    min-width  :100px ;
}
.order{
    border-bottom: 1px solid grey;
}